<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/my-map.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div class="container mt-5 pb-5">
      {{{body}}}
    </div>
  </body>

  <script
    src="https://maps.googleapis.com/maps/api/js?v=quarterly&key=AIzaSyBD3uxK2swjogbpLfQwItu7TqEpaVS5w3E&callback=initMap"></script>
</html>
